  .navBar {
    --navbar-link-color: #fff ;
    .navbarBackground {
      background-color: #3f51b5 !important;
      padding: 10px 20px 10px 20px;
    }
    .navbar-brand {
      font-size: 30px;
      font-weight: bold;
      text-shadow: 0 1px 0 #ccc, 0 2px 0 #ccc, 0 2px 0 #ccc, 0 4px 0 #ccc,
        0 3px 0 #ccc, 0 6px 0 #ccc, 0 7px 9px rgba(0, 0, 0, 0.5);
    }
    .navbar-dark .navbar-nav .nav-link {
      color: var(--navbar-link-color);
      font-size: 20px;
    }
  }
  