.footer{
    background-color:black;
    p{
        color: grey;
    }
    .footer-links {
        padding-left: 0;
        margin-bottom: 1rem;
    }
    .footer-links li {
        display: inline-block;
    }
    footer a {
        font-weight: 500;
        color: #fff;
        padding-right: .5rem;
        text-decoration: none;
    }
    .topArrow{
        position: relative;
        left: 95%;
        width: 40px;
        cursor: pointer;
    }
}

@media screen and (max-width: 767px){
    .footer{
        .topArrow{
            left: 90%;  
        }   
    }

}