.faqContainer{
    .accordionArrow {
        position: absolute;
        right: 10px;
        margin-top: 10px;
      }
      .accordion{
          background-color: #00bcd4;;
      }
      .card-body{
          background-color: #fff;
      }
}